@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";


//this code is copied from blocks.org web site
//http://bl.ocks.org/dbuezas/9306799
//**************************************************************	
body {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	height: 500px;
	position: relative;
	width: 960px;
}
svg { height: 100%; width: 100%; }
path.slice { stroke-width: 2px; }
	
polyline {
	fill: none;
	opacity: .3;
	stroke: black;
	stroke-width: 2px;
}
//**************************************************************	
.container { height: 100%; }
#myPieChart { height: 100%; width: 100%; }